<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azkaban - Prisão</title>
    <link rel="web icon" href="./assets/log2.png">
    <link rel="stylesheet" href="./styles/style-index.css">
</head>
<body>
    <header class="global">
        <h1>BEM VINDO À PRISÃO AZKABAN, ESCOLHA SEU CAMINHO ABAIXO</h1>
        <div class="links">
            <a href="/juiz">Cadastro de juiz</a>
            <a href="/sentenciado">Cadastro de condenados</a>
            <a href="/sentencas">Lista de sentenciados</a>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
</body>
</html>